/*--------------------*/
/* HEADER */
/*--------------------*/

#header {
    width: 100%;
}

.header-bg-image {
    position: absolute;
    left: 93.9vh;
    top: 0px;
    z-index: -1;
}

.nav-button {
    float: right;
}

.nav-button .sign-in {
    background-color: transparent;
    border-radius: 20px;
    border-color: transparent;
}

.nav-button .signup {
    background-color: #3D6DFF;
    border-radius: 20px;
    border: 1.5px solid #3D6DFF;
}

.header-button {
    background-color: #FFFFFF;
    border-radius: 20px;
    color: #3D6DFF;
    border: 1.5px solid #3D6DFF;
    margin-top: 40px;
}

.header-button:hover {
    background-color: transparent;
    color: #3D6DFF;
}

.header-content {
    margin-top: 15vh;
}

.header-content h1 {
    font-size: 50px;
    font-weight: bold;
}

.header-content p {
    margin-top: 20px;
}

.header-content-inner {
    display: inline;
	padding-top: 80px;
	padding-right: 20px;
    text-align: left;
    width: 100%;
}

.header-bottom-button {
    background-color: #ffffff;
    color: #3D6DFF;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
    margin-left: 40px;
}

.header-bottom-button:hover {
    background-color: #ffffff;
    color: #3D6DFF;
}

.header-bottom {
    margin-top: 80px;
}

.header-bottom-content {
    background-color: #3D6DFF;
    height: 104px;
    color: #ffffff;
    border-radius: 50px;
    margin-top: 20px;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.4), 0px 4px 10px rgba(51, 51, 51, 0.1);
}

.header-bottom-content p {
    font-weight: bold;
    font-size: 20px;
    margin-top: 32px;
}

.header-bottom-content a {
    font-weight: bold;
    margin-top: 30px;
}


/*--------------------*/
/* FUNCTIONS */
/*--------------------*/

#function {
    display: inline;
	float: left;
	padding: 200px 0;
	width: 100%;
}

.title-area {
    display: inline;
	float: left;
	/* padding: 0 330px;   */
	text-align: center;
	width: 100%;
}

.title-area .title {
    display: inline-block;
    position: relative;
    padding-bottom: 20px;
}

.sub-title {
    text-align: center;
}

.sub-title h3 {
    margin-top: 30px;
}

.sub-title p {
    margin-top: 20px;
}

.function-content {
    margin-top: 90px;
}


/*--------------------*/
/* FEATURES */
/*--------------------*/

#features {
    width: 100%;
    background-color: #F3F6FE;
    display: inline;
    float: left;
    padding: 100px 0;
}

.features-phone1-image {
    margin-top: 57px;
}

.features-phone2-image {
    position: absolute;
    top: 0px;
    left: 170px;
}

.features-title p {
    margin-top: 20px;
}

.features-area {
    margin-top: 30px;
}


/*--------------------*/
/* EARN */
/*--------------------*/

#earn {
    width: 100%;
    background-color: #1D2029;
    display: inline;
    float: left;
    padding: 100px 0;
}

.earn-top {
    background-color: #819DFC;
    color: #ffffff;
}

.earn-top-content {
    padding: 80px;
}

.earn-top-content h2 {
    font-weight: bold;
    font-size: 30px;
}

.earn-top-content p {
    margin-top: 30px;
}

.earn-top-button {
    background: transparent;
    border: 1.5px solid #ffffff;
    margin-top: 20px;
}

.earn-top-button:hover {
    background-color: #FFFFFF;
    border: 1.5px solid #ffffff;
    color: #3D6DFF;
}

.earn-top-image {
    background-image: url("assets/images/earn-top.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.earn-bottom-image {
    background-image: url("assets/images/earn-bottom.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.earn-bottom-content {
    padding: 80px;
}

.earn-bottom-content p {
    margin-bottom: 30px;
    text-transform: uppercase;
}

.earn-bottom-content h2 {
    font-weight: bold;
    font-size: 30px;
}

.earn-bottom {
    background-color: #ffffff;
}

.earn-bottom-button {
    background: transparent;
    border: 1.5px solid #3D6DFF;
    margin-top: 20px;
    color: #3D6DFF;
}


/*--------------------*/
/* DOWNLOAD */
/*--------------------*/

#download {
    display: inline;
	float: left;
    width: 100%;
    background-color: #F1F1F1;
}

.download-content {
    margin-top: 100px;
    padding-right: 50px;
}

.download-content h2 {
    font-size: 40px;
    font-weight: bold;
}

.download-content p {
    margin-top: 20px;
}

.download-content img {
    height: 60px;
}

.phone-app-image {
    margin-top: 50px;
}


/*--------------------*/
/* TESTIMONIAL */
/*--------------------*/

#testimonial {
    display: inline;
	float: left;
	padding: 100px 0;
    width: 100%;
}

.testimonial-content h2 {
    color: #3D6DFF;
    font-weight: bold;
    font-size: 40px;
}

.testimonial-content {
    padding-right: 52px;
}

.testimonial-content p {
    margin-top: 20px;
}

.testimonial-button {
    margin-top: 20px;
    border-radius: 20px;
    font-weight: bold;
}

.carou-control-prev {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 120px;
    top: 100px;
    border: 1.5px solid #3D6DFF;
    border-radius: 50px;
}

.carou-control-next {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 150px;
    top: 100px;
    border: 1.5px solid #3D6DFF;
    border-radius: 50px;
}

.testimonial-bottom-content {
    margin-top: 130px;
}

.testimonial-bottom-link:hover {
    text-decoration: none;
}

.testimonial-bottom-link {
    font-weight: bold;
}

.email-input {
    margin-top: 40px;
}


/*--------------------*/
/* FOOTER */
/*--------------------*/

#footer {
    display: inline;
	float: left;
	padding: 100px 0;
    width: 100%;
    background-color: #1D2029;
    color: #ffffff;
}

.footer-brand {
    margin-bottom: 5px;
}

#footer img {
    height: 60px;
}

#footer ul {
    list-style-type: none;
}

/* #footer ul:hover {
    text-decoration: none;
} */

#footer-copyright {
    display: inline;
    float: left;
    padding: 30px 0;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
}

.footer-links {
    color: #ffffff;
}

.footer-links:hover {
    text-decoration: none;
}